<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布--交流平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="js/jquery-3.4.1.min.js" ></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>



</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <form action="/publish" method="post"><!--提交请求的地址，post方式路由，当点击发布，他会寻找地址为publish，请求方法为postMapping的接口-->
                                                   <!-- 通过RequestParam去接受title，des..，tag的同时，放到model里面，为了回显到页面上去，其实，要验证下是否为空，是否登录-->
                <div class="form-group">
                    <label for="title">问题</label>
                    <input type="text" class="form-control" id="title" th:value="*{title}"name="title" placeholder="简单描述问题">
                </div>
                <div class="form-group">
                    <label for="description">详细介绍问题</label>
                    <textarea name="description" id="description" th:text="*{description}" class="form-control" cols="30" rows="10"></textarea>
<!-- th:value="*{title }  th:text="*{description}等是thymeleaf的数据回显，先保存在model中，有错误的时候可以回显已输入内容到网页-->
                </div>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" class="form-control" th:value="*{tag}" id="tag" name="tag" placeholder="输入标签">
                </div>
                <div class="alert alert-danger" th:text="${error}" th:if="${error != null}"></div>
                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>
            <hr>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>发布问题指南</h3>
        </div>
    </div>
</div>
</body>
</html>